html{
    background-color: #FAFAFA;
}

body{
    font-family: 'Inter', sans-serif;
}

h4{
    font-weight: 450;
    font-size: 60px;
}

h6{
    font-weight: 400;
    font-size: 50px;
}

h1{
    font-weight: 600;
    font-size: 24px;
}

h2{
    font-size: 14px;
}

h3{
    font-size: 24px;
    size: 40%;
}

p{
    font-weight: 300;
    font-size: 12px;
}

a{
    color: black;
    text-decoration: none;
}

header{
    box-shadow: 0px 2px 4px -2px grey;
    padding: 30px;
    padding-left: 9%;
    padding-right: 9%;
}

.navigation{
    display: inline-block;
    padding: 10px;
    text-align: center;
    float: right;
}

.selectedWork{
    /*background-color: antiquewhite; */
    text-align: center;
    padding-top: 4%;
}

.projectSection{
    /*background-color: rgb(196, 255, 255); */
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 3%;
}

.projectImg{
    text-align: center;
}


footer{
    padding: 140px;
    margin-top: 200px;
    background-color: #1F1F1F;
    color: white;
}

.gridContainer{
    display: grid;
    grid-gap: 300px;
    grid-template-columns: 1fr 1fr;
}

.mailText .linkedinText .behanceText .phoneText{
    display: inline-block;
}

.footerText{
    font-size: 25px;
    text-align: center;
    float: left;
    padding: 20px;
    margin-top: 0px;
}

.footerRight{
    padding-left: 20%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: end;
}

.mailText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.mailImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.linkedinText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.linkedinTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.behanceText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.behanceTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}

.phoneText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
}

.phoneTextImg{
    padding-left: 30px;
    justify-content: end;
    display: grid;
}


